/* Form.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

body,
html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  background-image: url('../Assets/image.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.form-container {
  padding: 30px;
  width: 420px;
  display: flex;
  flex-direction: column;
  background: transparent;
  border: 2px solid rgb(255, 255, 255, .2);
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(50px);
  text-align: center;
}

h2 {
  font-size: 2rem;
  color: #ffffff;
  margin-bottom: 20px;
  text-align: center;
}

.input-box{
  position: relative;
  width: 100%;
  height: 50px;
  margin: 25px 0;
}

.input-box .icon{
  position: absolute;
  top: 55%;
  right: 25px;
  transform: translateY(-50%);
  font-size: 15px;
}

.input-box input {
  width: calc(100% - 30px);
  height: 100%;
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 40px;
  background: transparent;
  font-size: 15px;
  color: #fff;
  padding-left: 25px;
}

.input-box input::placeholder {
  color: rgba(255, 255, 255, 0.8);
}

.input-box input:focus {
  border-color: #49a58d;
  outline: none;
  box-shadow: 0 0 5px rgba(91, 105, 118, 0.2);
}

.submit-button-login {
  width: 60%;
  height: 45px;
  margin-top: 10px;
  background-color: #49a58d;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
  font-size: 15px;
  font-weight: 600;
}

.submit-button-register {
  width: 60%;
  height: 45px;
  margin-top: 10px;
  background-color: #66a1b5;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
  font-size: 15px;
  font-weight: 600;
}

.submit-button:hover {
  background-color: #146a51;
}

.error-message {
  color: rgb(255, 88, 88);
  font-size: 12.5px;
  margin-top: 0px;
}

.register-link{
  justify-content: center;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.register-link p {
  font-size: 14.5px;
  color: #ffffff;
  font-weight: 600;
}

.register-link .link-login {
  font-size: 14.5px;
  /* color: #1cc7ee; */
  color: #49a58d;
  text-decoration: none;
  font-weight: 600;
}

.register-link .link-register {
  font-size: 14.5px;
  /* color: #1cc7ee; */
  color: #66a1b5;
  text-decoration: none;
  font-weight: 600;
}

.register-link .link:hover {
  text-decoration: underline;
}